body, html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: black;
    background-image: url("../gifs/starstwinkle.gif");
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: white;
}

#main {
    position: fixed;
}

#border {
    position: relative;
    display: flex;
    border: 5px solid white;
    padding: 25px;
    border-radius: 1%;
    background: repeating-linear-gradient(-45deg,rgba(255, 255, 255, 0.1) 0px, rgba(255, 255, 255, 0.1) 10px, transparent 10px, transparent 20px);
}

#button {
    border: 0;
    color: #9d00ff;
    font-size: 16px;
    font-weight: bold;
    margin: 2.5px;
    padding: 2.5px;
    border: 2.5px;
}

#heading-text {
    font-weight: bold;
    color: #fff;
    margin: 5px;
    padding: 5px;
    border: 5px;
}

#socials {
    word-spacing: 5px;
    margin: 5px;
    padding: 5px;
    border: 5px;
    width: 250px;
}

#socialalign, #button {
    display: block;
}

#social:link, #social, #buttons:link, #buttons {
    color: #9d00ff;
}

#social:hover {
    animation: underline 1s infinite;
}

#buttons:hover {
    animation: underline 1s infinite;
}

#pfp {
    width: 128px;
    height: 128px;
    border-radius: 10%;
    border: 2px solid white;
    overflow: hidden;
}

#bording {
    position: absolute;
}

@keyframes underline {
    from {
        text-decoration: underline solid;
    }
    to {
        text-decoration: none;
    }
} 

::-webkit-scrollbar {
    background: transparent;
}

#musicuwu {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    border: 0;
}