body, html {
    background-color: #d6ecf3;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
}

iframe {
    position: relative;
    margin: auto;
    display: block
}

#mainiframe {
    top: 50px;
}

::-webkit-scrollbar {
    background: transparent;
}