/* this gets used once the js switches from index.css to about.css*/
body, html {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(90deg, #9898FF, #d6ecf3);
    font-size: 18px;
    font-weight: bold;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    color: white;
}

#header {
    border-bottom-color: rgb(49, 49, 49);
    border-bottom-style: solid;
    border-bottom-width: 3px;
}

#text {
    margin: 5px;
    padding: 5px;
    border: 5px;
    font-size: 20px;
}

#list {
    color: black
}

#button {
    display: block;
    background-color: transparent;
    border: 0;
    color: #9d00ff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

a {
    color: white;
    font-size: 18px;
}

#ul {
    text-decoration: none;
}

#button1:link, #button1 {
    color: #9d00ff;
}

#button1:hover {
    animation: underline1 1s infinite;
}

@keyframes underline1 {
    from {text-decoration: solid;
    }
    to {text-decoration: none;
    }
}